<%= form_tag("/exams/marks", method: :post) do %>
<p>
  <strong>Name:</strong>
  <%= @exam.name %>
</p>

<%@exam.questions.each do |question| %>
<p>
  <strong>Question:</strong>
  <%= question.content%>

</p>
<p>
  <strong>Answers</strong><br/>
  <% question.answers.each do |answer|%>
    
    <%= radio_button_tag "exam[#{question.id}][answer_id]]", "#{answer.id}" %>

    <%= answer.content%><br/>
  <%end%>
</p>
<%end%>
<%= submit_tag "submit"%>
<%end%>




