<form>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exam.name %>
</p>

<%@exam.questions.each do |question| %>
<p>
  <strong>Question:</strong>
  <%= question.content%>
</p>
<p>
 <%i=1%>
  <strong>Answers</strong><br/>

 <%question.answers.each do |answer|%>

<input class="Checkbox" type="checkbox" value="<%=i%>" name="examId[value]">
<%i=i+1%>

<script>
  var checkedvalue = $('.Checkbox:checked').value();
</script>

  <%=answer.content%><br/>

  <%end%>
  </p>
<%end%><br/>

<%= link_to 'Yor Marks', marks_exams_path %>
<input type="submit" name="b1" value="Submit" onclick="location.href='next_pares.html'">

</form>
